<!DOCTYPE html>
<html>
  <head>
    <title>Stars</title>
  </head>
  <body>
    <h1>Stars</h1>
    <table border="1">
      <thead>
        <tr>
          <th>name</th>
          <th>distance</th>
          <th>stellar_magnitude</th>
          <th>discovery_year</th>
          <th>mass_multiplier</th>
          <th>radius_multiplier</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
         <td>{{row["name"]}}</td>
          <td>{{row["distance"]}}</td>
          <td>{{row["stellar_magnitude"]}}</td>
          <td>{{row["discovery_year"]}}</td>
          <td>{{row["mass_multiplier"]}}</td>
          <td>{{row["radius_multiplier"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>

